name: cloud run deployment


on:
  workflow_run:
    workflows:
      - tests
    types:
      - completed
    branches:
      - main
      - master
  workflow_dispatch: 


jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Inject keys
        run: echo -en '${{ secrets.KEYS_YAML }}' >> keys.yaml

      - name: Authenticate GCP
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          
      - name: Remove tests directory
        run: rm -r tests
      
      - name: Build Docker image
        run: |
          docker build -t CONTAINER_NAME .
          
      - name: Push Docker image to GCP Container Registry
        run: |
          gcloud auth configure-docker
          docker tag CONTAINER_NAME gcr.io/GCP_PROJECT/CONTAINER_NAME
          docker push gcr.io/GCP_PROJECT/CONTAINER_NAME
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ needs.build.result == 'success' }}

    steps:
      - name: Authenticate GCP
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          
      - name: Deploy to Cloud Run
        uses: 'google-github-actions/deploy-cloudrun@v1'
        with:
          service: CONTAINER_NAME
          image: gcr.io/GCP_PROJECT/CONTAINER_NAME
          flags: '--min-instances=0 --allow-unauthenticated'
          no_traffic: false
